<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom sticky-top">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <img class="navbar-logo" src="{{ site.baseurl }}/assets/logo/puma-alone.png" alt="{{ site.title }}">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMain"
            aria-controls="navMain" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMain">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/group/">Group</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/publications/">Publications</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/research-blogs/">Research Blogs</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/join/">Join</a></li>
        <li class="nav-item"><a class="nav-link" href="https://hulab-wiki.pages.dev/" target="_blank" rel="noopener noreferrer">Lab Wiki</a></li>
      </ul>
    </div>
  </div>
</nav>
